<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h2>Añadir Coche</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-3">
            <form id="contact-form" class="form" action="/" method="POST" role="form">
                <div class="form-group">
                    <label class="form-label" for="Marca">Marca</label>
                    <input type="text" class="form-control" id="marca" name="marca" placeholder="Marca" tabindex="1"
                        required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="email">Modelo</label>
                    <input type="text" class="form-control" id="modelo" name="modelo" placeholder="Modelo" tabindex="2"
                        required>
                </div>
                <div class="form-group">
                    <label class="form-label" for="subject">Imagen</label>
                    <input type="url" class="form-control" id="img" name="img" placeholder="Imagen" tabindex="3">
                </div>
                <div class="form-group">
                    <label class="form-label" for="subject">Imagen 2</label>
                    <input type="url" class="form-control" id="img" name="img2" placeholder="Imagen" tabindex="3">
                </div>
                <div class="form-group">
                    <label class="form-label" for="subject">Imagen 3</label>
                    <input type="url" class="form-control" id="img" name="img3" placeholder="Imagen" tabindex="3">
                </div>
                <div class="form-group">
                    <label class="form-label" for="subject">Precio</label>
                    <input type="text" class="form-control" id="precio" name="precio" placeholder="Precio" tabindex="3">
                </div>
                <div class="form-group">
                    <label class="form-label" for="subject">Precio Rebajado</label>
                    <input type="text" class="form-control" id="precioRebajado" name="precioRebajado"
                        placeholder="Precio Rebajado" tabindex="3">
                </div>
                <div class="form-group">
                    <label class="form-label" for="subject">Ahorro</label>
                    <input type="text" class="form-control" id="Ahorro" name="Ahorro" placeholder="Ahorro" tabindex="3">
                </div>
                <div class="form-group">
                    <label class="form-label" for="subject">Potencia</label>
                    <input type="text" class="form-control" id="potencia" name="coche.potencia" placeholder="Potencia"
                        tabindex="3">
                </div>
                <div class="form-group">
                    <label class="form-label" for="subject">Color</label>
                    <input type="text" class="form-control" id="color" name="coche.color" placeholder="Color"
                        tabindex="3">
                </div>
                <div class="form-group">
                    <label class="form-label" for="subject">Kilometros</label>
                    <input type="text" class="form-control" id="kilometros" name="coche.kilometros"
                        placeholder="Kilometros" tabindex="3">
                </div>
                <div class="form-group">
                    <label class="form-label" for="subject">Cambio De Marchas</label>
                    <input type="text" class="form-control" id="marchas" name="coche.marchas"
                        placeholder="Cambio de Marchas" tabindex="3">
                </div>
                <div class="form-group">
                    <label class="form-label" for="subject">Consumo Medio</label>
                    <input type="text" class="form-control" id="consumoMedio" name="consumo.media"
                        placeholder="Consumo Medio" tabindex="3">
                </div>
                <div class="form-group">
                    <label class="form-label" for="descripcion">Descripcion</label>
                    <textarea rows="5" cols="50" name="descripcion" class="form-control" id="descripcion"
                        placeholder="Message..." tabindex="4" required></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-start-order ">Añadir Coche</button>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    textarea {
        resize: none;
    }

    .form-label {
        font-size: 12px;
        color: #5e9bfc;
        margin: 0;
        display: block;
        opacity: 1;
        -webkit-transition: .333s ease top, .333s ease opacity;
        transition: .333s ease top, .333s ease opacity;
    }

    .form-control {
        border-radius: 0;
        border-color: #ccc;
        border-width: 0 0 2px 0;
        border-style: none none solid none;
        box-shadow: none;
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #5e9bfc;
    }

    .js-hide-label {
        opacity: 0;
    }

    .js-unhighlight-label {
        color: #999
    }

    .btn-start-order {
        background: 0 0 #ffffff;
        border: 1px solid #2f323a;
        border-radius: 3px;
        color: #2f323a;
        font-family: "Raleway", sans-serif;
        font-size: 16px;
        line-height: inherit;
        margin: 30px 0;
        padding: 10px 50px;
        text-transform: uppercase;
        transition: all 0.25s ease 0s;
    }

    .btn-start-order:hover,
    .btn-start-order:active,
    .btn-start-order:focus {
        border-color: #5e9bfc;
        color: #5e9bfc;
    }
</style>